/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0B162C;
}


/* Header */
header {
    background-color: #5FC2BA;
    color: #fff;
    padding: 15px 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #cceeff;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 80px auto 0; /* 80px to account for the fixed header */
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #5FC2BA;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #5FC2BA;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Footer */
footer {
    background-color:#1C2942;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #3B556D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Style au survol du bouton */
  .custom-button:hover {
    background-color: #1C2942;
  }
  
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* La grille s'ajustera automatiquement */
    grid-gap: 10px; /* Espacement entre les images */
}

.image-grid img {
    width: 100%; /* Les images occupent toute la largeur de leur conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}
.image-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* La grille s'ajustera automatiquement */
    grid-gap: 10px; /* Espacement entre les images */
}

.image-grid2 img {
    width: 100%; /* Les images occupent toute la largeur de leur conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}
.image-grid img:hover {
    transform: scale(1.1); /* Zoom au survol */
    transition: transform 0.3s ease; /* Animation fluide */
}
.custom-button {
    display: inline-block;
    justify-content: center;
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #3B556D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  /* Style au survol du bouton */
  .custom-button:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Zoom au survol */
    transition: transform 0.3s ease; /* Animation fluide */
  }
  section {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* La grille s'ajustera automatiquement */
    grid-gap: 10px; /* Espacement entre les images */
}
title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
.logo a {
    font-size: 1.5rem;
    color: white;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
}

.container_img.hidden {
    display: none;
  }
  .container_img img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
  }
#competences {
    margin-top: 20px;
}

.competence {
    margin-bottom: 15px;
}

.competence img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.barre-niveau {
    background-color: #ddd; 
    height: 20px; 
    border-radius: 5px; 
    overflow: hidden; 
    width: 40%;
}

.niveau {
    width: 70%;
    height: 100%; 
    background-color: #4caf50; 
}
#scrollUp {
    position: fixed;
    height: auto;
    bottom: 40px;
    right: 30px;
    opacity: 1;
}

#scrollUp:hover {
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.35));
}